@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    cursor: none;
}

::-webkit-scrollbar {
    display: none;
  }

.wrapper {
    height: 100vh;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
}

@media (hover: hover) {
    #cursor {
        position: fixed;
        top: -5px;
        left: -5px;
        width: 10px;
        height: 10px;
        background-color: white;
        border-radius: 50%;
        pointer-events: none;
        z-index: 999;
    }
      
    #cursor-border {
        --size: 50px;
        position: fixed;
        top: calc(var(--size) / -2);
        left: calc(var(--size) / -2);
        width: var(--size);
        height: var(--size);
        border-radius: 50%;
        box-shadow: 0 0 0 1px white;
        pointer-events: none;
        transition: top 0.15s ease-out, left 0.15s ease-out, width 0.15s ease-out,
          height 0.15s ease-out, background-color 0.15s ease-out;
        z-index: 999;
    }
}

section {
    height: 100vh;
    scroll-snap-align: start;
}

.wrapper section:nth-child(1) {
    background: linear-gradient(to right, #161540 0%, #2D122C 100%);
}

.navbar {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
}

.navbar .navsection:nth-child(1) {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5vh;
    width: 17vw;
    height: 6.5vh;
}

.navbar .navsection:nth-child(2) {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 78vw;
    height: 6.5vh;
}

.navbar .navsection:nth-child(2) a {
    color: #fff;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    margin-left: 70px;
    font-size: 1.9vh;
}